@model IEnumerable<StudentCourseApp.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
    <p class="mt-10 ml-14">
        @Html.ActionLink("Create New", "Create", null, new { @class = "bg-green-500 hover:bg-green-700 mt-10 text-white font-bold p-3  rounded shadow-lg" })
    </p>

    <table class="table-auto w-11/12 ml-auto mt-6 mr-auto border-collapse border border-gray-200">
        <tr class="bg-gray-100">
            <th class="border px-4 py-2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="border px-4 py-2">
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th class="border px-4 py-2">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="border px-4 py-2">
                @Html.DisplayNameFor(model => model.Course.Name)
            </th>
            <th class="border px-4 py-2">
                @Html.DisplayNameFor(model => model.Course.Duration)
            </th>
            <th class="border px-4 py-2"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="border-t">
                <td class="border px-4 py-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="border px-4 py-2">
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td class="border px-4 py-2">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="border px-4 py-2">
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td class="border px-4 py-2">
                    @Html.DisplayFor(modelItem => item.Course.Duration)
                </td>
                <td class="border px-4 py-2 flex justify-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded shadow-lg" }) 
                   
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded shadow-lg ml-3" })
                </td>

            </tr>
        }
    </table>

</body>
</html>
